li:nth-child(2n){
    color: greenyellow;
}

li{
    color: yellow;
}

li:nth-child(3n){
    color: greenyellow;
}

li:nth-last-of-type( <nth> ){
    
}

/*
- Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela.
 Se a numeração do item for PAR, faça a cor de fonte ser verde. 
 Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. 
 (Dica: combinar classes pode ser útil aqui).
*/