.super-mario{
    height: 20%;
    width: 30%;
    position: absolute;
}

.goomba{
    margin-left: 50px;
    position: absolute;
    margin-top: 200px;
    height: 20%;
    width: 20%;
}

.baloon{
    z-index: 3;
    margin-left: 195px;
    position: absolute;
    height: 100px;
    width: 120px;
    
}

.bowser{
    margin-left:320px;
    position: absolute;
    height: 20%;
    width: 20%;
}

.word{
    position: absolute;
    width: 100px;
    z-index: 4;
    margin-left: 200px;
    margin-top: 20px;
}